
@font-face {
    font-family: "San Fransisco";
    src: url(../css/sf.otf) format("truetype");
}
ul{
    list-style-type: none;
}
td{
    vertical-align: top;
}
#main_list{
    margin-top: 5px;
}
#main_list tbody tr{
    background-color: rgba(221,221,221,0.54);
    text-align: left;
    opacity: 0.9;
    border: 1px solid black;
    width: 750px;
    padding: 2px 2px 2px 2px;
    margin-top: 5px;
}

#left, #right{
    min-width: 450px;
    margin: 25px;
    padding: 0 0 0 0
}
#left tbody tr, #right tbody tr{
    word-break: break-all;
    opacity: 0.9;
    background-color: lightgreen;
    border: 1px solid black;
    width: 750px;
    margin: 5px;
}
.row{
    margin: 0 0 0 0;
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    cursor: pointer;
}
#overlay_text{
    position: fixed;
    top: 50%;
    left: 77%;
    z-index: 1000;
    font-size: 30px;
    color: white;
    width: 40%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#overlay_button{
    position: fixed;
    top: 80%;
    right: 30%;
    z-index: 1000;
}
#backgroundImage {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;

    display: block;
    background-image: url("../icons/eagle.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
