{% extends base %}

{% block title %}Decision Tree Visualizer{% endblock %}

{% block postamble %}
  <style>
    {% include 'styles.css' %}
  </style>
{% endblock %}

{% block contents %}
  <div class="content" align="center">
    <h1>Neural Network Visualizer</h1>
      <div style="margin-left: auto; margin-right: auto; width: 40em; font-family: Arial; text-align: left">
        <p>  The MNIST database (Modified National Institute of Standards and Technology database)
            is a large database of handwritten digits that is commonly used for training various image
            processing systems. The database is also widely used for training and testing in the field
            of machine learning. The MNIST data set is used in the example below.
        </p>
          <img style="width: 50%; height: 20%; margin-left: auto; margin-right: auto; display: block" src="http://www.wiki-zero.co/index.php?q=aHR0cDovL3VwbG9hZC53aWtpbWVkaWEub3JnL3dpa2lwZWRpYS9jb21tb25zLzIvMjcvTW5pc3RFeGFtcGxlcy5wbmc">
      </div>

    {{ super() }}
  </div>
{% endblock %}
