<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="../js/snap.svg-min.js"></script>
    <script src="../js/d3-simple-slider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/button.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
    <title>Title</title>
    <style>

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

</style>
</head>
<body>


<script>
const train_data = [
  ["Sarı", 1, "Kavun"], ["Sarı", 1, "Kavun"], ["Sarı", 1, "Kavun"],  ["Sarı", 1, "Kavun"], ["Sarı", 1, "Kavun"],
  ["Sarı", 2, "Kavun"], ["Sarı", 2, "Kavun"], ["Sarı", 2, "Kavun"], ["Sarı", 2, "Kavun"], ["Sarı", 2, "Kavun"],
  ["Sarı", 3, "Kavun"], ["Sarı", 3, "Kavun"], ["Sarı", 3, "Kavun"], ["Sarı", 3, "Kavun"], ["Sarı", 3, "Kavun"], ["Sarı", 3, "Kavun"], ["Sarı", 3, "Kavun"],
  ["Sarı", 4, "Kavun"], ["Sarı", 4, "Kavun"], ["Sarı", 4, "Kavun"], ["Sarı", 4, "Kavun"],
  ["Sarı", 5, "Kavun"], ["Sarı", 5, "Kavun"], ["Sarı", 5, "Kavun"], ["Sarı", 5, "Kavun"],
  ["Sarı", 6, "Kavun"], ["Sarı", 6, "Kavun"], ["Sarı", 6, "Kavun"],
  ["Sarı", 7, "Kavun"],
  ["Sarı", 10, "Kavun"], ["Sarı", 10, "Kavun"],
  ["Sarı", 12, "Kavun"], ["Sarı", 12, "Kavun"],
  ["Yeşil", 3, "Karpuz"],
  ["Yeşil", 4, "Karpuz"],
  ["Yeşil", 6, "Karpuz"], ["Yeşil", 6, "Karpuz"],
  ["Yeşil", 7, "Karpuz"],
  ["Yeşil", 9, "Karpuz"], ["Yeşil", 9, "Karpuz"], ["Yeşil", 9, "Karpuz"], ["Yeşil", 9, "Karpuz"],
  ["Yeşil", 10, "Karpuz"], ["Yeşil", 10, "Karpuz"], ["Yeşil", 10, "Karpuz"], ["Yeşil", 10, "Karpuz"], ["Yeşil", 10, "Karpuz"],
  ["Yeşil", 11, "Karpuz"], ["Yeşil", 11, "Karpuz"], ["Yeşil", 11, "Karpuz"], ["Yeşil", 11, "Karpuz"], ["Yeşil", 11, "Karpuz"],
  ["Yeşil", 12, "Karpuz"], ["Yeşil", 12, "Karpuz"], ["Yeşil", 12, "Karpuz"], ["Yeşil", 12, "Karpuz"],
  ["Yeşil", 13, "Karpuz"], ["Yeşil", 13, "Karpuz"], ["Yeşil", 13, "Karpuz"], ["Yeşil", 13, "Karpuz"], ["Yeşil", 13, "Karpuz"], ["Yeşil", 13, "Karpuz"], ["Yeşil", 13, "Karpuz"],
  ["Yeşil", 14, "Karpuz"], ["Yeşil", 14, "Karpuz"], ["Yeşil", 14, "Karpuz"], ["Yeşil", 14, "Karpuz"], ["Yeşil", 14, "Karpuz"], ["Yeşil", 14, "Karpuz"], ["Yeşil", 14, "Karpuz"], ["Yeşil", 14, "Karpuz"],
];

const test_data = [["Sarı", 3, "Kavun"], ["Sarı", 4, "Kavun"], ["Sarı", 5, "Kavun"],
  ["Sarı", 5, "Kavun"], ["Sarı", 5, "Kavun"], ["Sarı", 6, "Kavun"],
  ["Sarı", 6, "Kavun"], ["Yeşil", 7, "Karpuz"], ["Yeşil", 7, "Karpuz"],
  ["Sarı", 7, "Kavun"], ["Yeşil", 8, "Karpuz"], ["Yeşil", 9, "Karpuz"],
  ["Yeşil", 9, "Karpuz"], ["Yeşil", 9, "Karpuz"], ["Yeşil", 11, "Karpuz"],
  ["Yeşil", 12, "Karpuz"], ["Yeşil", 12, "Karpuz"], ["Yeşil", 13, "Karpuz"]];

const  maxFrequency = 8;
const rectWidth = 70;
const rectHeight = 70;
const maxDiameter = 14;
let fruitPlaces = [];
let validDiameterIndex = 1;
let radiusDict = {};
let rectangleData = [];
let isDatasetTraining = true;
manipulateRectangleData(train_data);
function manipulateRectangleData(data){
    radiusDict = {};
    rectangleData = [];
    data.forEach((entry)=>{
        if (radiusDict.hasOwnProperty(entry[1])){
            radiusDict[entry[1]].push(entry[2]);
        } else {
            radiusDict[entry[1]] = [entry[2]];
        }
    });

    Object.keys(radiusDict).forEach(function(d, i){
        rectangleData.push({'x': 105 * i + 50, 'y': 10, 'label': d,'color': 'beige'})
    });
}
calculateFruitPlaces();
function calculateFruitPlaces(){
    fruitPlaces = []
    for(let i = 0; i < maxFrequency; i++){
        for(let j = 1; j <= maxDiameter; j++){
            if(j in radiusDict) {
                if (i < radiusDict[j].length) {
                    if (radiusDict[j][i] === 'Karpuz') {
                        fruitPlaces.push({'x': 105 * validDiameterIndex - 55, 'y': 68 * i + 95, 'fruit_img': 'watermelon.png'})
                    } else {
                        fruitPlaces.push({'x': 105 * validDiameterIndex - 55, 'y': 68 * i + 95, 'fruit_img': 'melon.png'})
                    }
                }
                validDiameterIndex++;
            }
        }
        validDiameterIndex = 1
    }
}

var svgContainer = d3.select("body").append("svg")
                                 .attr("width", innerWidth)
                                 .attr("height", innerHeight * 84 / 100);

var rectangles = svgContainer.selectAll("rect")
                            .data(rectangleData)
                            .enter()
                            .append("rect")
                            .attr("fill","beige")
                            .attr("x", function (d) { return d.x; })
                            .attr("y", function (d) { return d.y; })
                            .attr("rx", 15)
                            .attr("width", function (d) { return 73; })
                            .attr("height", function (d, i) { return rectHeight * radiusDict[Object.keys(radiusDict)[i]].length + 80});
var texts = svgContainer.selectAll("text.label")
    .data(rectangleData)
    .enter()
    .append('text')
    .classed('label', true)
    .transition()
    .duration(1000)
    .attr('x', calculateXForText)
    .attr('y', function (d) {
        return 55;
    })
    .attr("fill", "black")
    .text(function (d) {
        return d.label;
    })
    .style("font-size", "30px");
svgContainer.selectAll("image").data(fruitPlaces).enter().append("svg:image").classed('fruit', true)
                            .transition().delay(1000).ease(d3.easeElastic).duration(2000)
                            .attr('x', function(d){
                                return d.x;
                            })
                            .attr('y', function(d){
                                return d.y;
                            })
                            .attr('width', rectWidth)
                            .attr('height', rectHeight)
                            .attr("xlink:href", function (d) {
                                return "../icons/" + d.fruit_img;
                            });
function calculateXForText(d, i){
    var offset = 79;
    if(+d.label % 10 !== +d.label){
        offset -= 7;
    }
    return 105 * i + offset;
}
function paintRectangles(){
    rectangleData.forEach(function (d) {
        if(+d.label >= theValue){
            d.color = "rgb(11, 229, 15)"
        } else {
            d.color = "rgb(228, 239, 14)"
        }
    });
}
function update(theValue){
    paintRectangles();
    svgContainer.selectAll("rect")
                            .data(rectangleData)
                            .transition()
                            .attr('fill', function (d) {
                                return d.color;
                            })
                            .duration(1100)
                            .ease(d3.easeBounce)
}
function calculateAccuracy(){
    let checkImgsData = [];
    let valid = 0;
    let invalid = 0;
    rectangleData.forEach(function(d, i){
        radiusDict[d.label].forEach(function(fruit, j){
            console.log(fruit, d.color);
            var resultImg = "success.png";
            if(d.color === "rgb(228, 239, 14)" && fruit === "Karpuz"){
                invalid++;
                resultImg = "error.png";
            }else if (d.color === "rgb(228, 239, 14)" && fruit === "Kavun"){
                valid++;
                resultImg = "success.png";
            }else if (d.color === "rgb(11, 229, 15)" && fruit === "Karpuz"){
                valid++;
                resultImg = "success.png"
            }else if (d.color === "rgb(11, 229, 15)" && fruit === "Kavun"){
                invalid++;
                resultImg = "error.png";
            }
            checkImgsData.push({'x': 105 * i + 50,'y': 68 * j + 95, 'resultImg': resultImg})
        });
    });
    const accuracy = valid / (valid + invalid) * 100;
    return [checkImgsData, accuracy];
}

function calculateTest(){
    isDatasetTraining = false;
    manipulateRectangleData(test_data);
    paintRectangles();
    calculateFruitPlaces();

    //DANGEROUS HERE ANY OTHER g would be affected by that
    d3.select('.sliderAll').style('opacity','0');

    d3.selectAll('.button__text').text("Yeni Model Kur")
    svgContainer.selectAll("rect")
                            .data(rectangleData)
                            .attr("height", function (d, i) { return rectHeight * radiusDict[Object.keys(radiusDict)[i]].length + 80})
                            .attr('fill', function(d){return d.color})
                            .exit()
                                .remove();
    svgContainer.selectAll("text.label").data(rectangleData).text(function(d){return d.label}).attr('x', calculateXForText).exit().remove();



    const accuracyResults = calculateAccuracy();
    const checkImgsData = accuracyResults[0];
    const accuracy = accuracyResults[1].toFixed(0);

    svgContainer.selectAll("image.tick").style('display', "block")
                            .data(checkImgsData)
                            .attr("xlink:href", function (d) {
                                return "../icons/" + d.resultImg;
                            })
                            .raise()
                            .enter()
                                .append("svg:image")
                                .classed('tick', true)
                                .transition()
                                .attr('x', function(d){
                                    return d.x;
                                })
                                .attr('y', function(d){
                                    return d.y;
                                })
                                .attr('width', rectWidth / 2)
                                .attr('height', rectHeight / 2)
                                .attr("xlink:href", function (d) {
                                    return "../icons/" + d.resultImg;
                                });

    svgContainer.selectAll("image.fruit").data(fruitPlaces)
                            .attr('x', function(d){
                                return d.x;
                            })
                            .attr('y', function(d){
                                return d.y;
                            })
                            .attr('width', rectWidth)
                            .attr('height', rectHeight)
                            .attr("xlink:href", function (d) {
                                return "../icons/" + d.fruit_img;
                            }).exit().remove();

    svgContainer.selectAll("text.accuracy").style('display',"block")
        .data([accuracy])
        .text("Başarı oranı: %" + 0)
        .enter()
        .append("text")
        .classed("accuracy", true)
        .text("Başarı oranı: %" + 0)
        .transition()
        .ease(d3.easeCircle)
        .duration(200)
        .attr("x", innerWidth * 0.7)
        .attr("y", innerHeight / 2);

    svgContainer.selectAll("text.accuracy")
        .data([accuracy])
        .style("font-size", "30px")
        .transition()
        .duration(3000)
                .tween("text", function(d) {
                    var self = this;
                    var i = d3.interpolate(this.textContent, d),
                        prec = (d + "").split("."),
                        round = (prec.length > 1) ? Math.pow(10, prec[1].length) : 1;

                    return function(t) {
                        self.textContent = "Başarı oranı: %" + Math.round(i(t) * round) / round;
                    };
                });
}

function againTrain(){
    isDatasetTraining = true;
    manipulateRectangleData(train_data);
    paintRectangles();
    calculateFruitPlaces();

    console.log(radiusDict);
    console.log(rectangleData);

    d3.selectAll('.button__text').text("Modeli Test Et");
    svgContainer.selectAll("image.tick").style('display','none');
    svgContainer.select(".sliderAll").style("opacity", '1');
    svgContainer.selectAll('text.accuracy').style('display', 'none');
    svgContainer.selectAll("rect")
                            .data(rectangleData)
                            .enter()
                                .append("rect")
                                .attr('x', function(d) {return d.x})
                                .attr('y', function(d) {return d.y})
                                .attr('width', rectWidth)
                                .attr('height', rectHeight)
                                .attr('fill', function(d){return d.color});
    //Apply to both new-comers and old ones
    svgContainer.selectAll("rect").data(rectangleData)
        .attr("height", function (d, i) { return rectHeight * radiusDict[Object.keys(radiusDict)[i]].length + 80})
    //    .lower();
    svgContainer.selectAll("text.label")
                .data(rectangleData)
                .text(function(d){return d.label})
                .enter()
                    .append('text')
                    .classed('label', true)
                    .text(function(d){return d.label})
                    .attr('x', calculateXForText)
                    .attr('y', 55)
                    .attr("fill", "black")
                    .style("font-size", "30px");

    svgContainer.selectAll("image.fruit")
                .data(fruitPlaces)
                .attr('x', function(d){
                    return d.x;
                })
                .attr('y', function(d){
                    return d.y;
                })
                .attr("xlink:href", function (d) {
                    return "../icons/" + d.fruit_img;
                })
                .raise()
                .enter()
                    .append("svg:image")
                    .classed("fruit", true)
                    .attr('x', function(d){
                        return d.x;
                    })
                    .attr('y', function(d){
                        return d.y;
                    })
                    .attr('width', rectWidth / 2)
                    .attr('height', rectHeight)
                    .attr("xlink:href", function (d) {
                        return "../icons/" + d.fruit_img;
                    });
}

</script>
    <div class="button-wrap">
        <button class="button button--line button--effect-1" disabled="true" style="display:none; margin-top: 0">
            <span class="morph-shape" data-morph-active="M286,113c0,0-68.8,6-136,6c-78.2,0-137-6-137-6S6,97.198,6,62.5C6,33.999,13,12,13,12s59-7,137-7c85,0,136,7,136,7s8,17.598,8,52C294,96.398,286,113,286,113z">
                <svg width="100%" height="100%" viewBox="0 0 300 125" preserveAspectRatio="none">
                    <path d="M286.5,113c0,0-104,0-136.5,0c-35.75,0-136.5,0-136.5,0s0-39.417,0-52.5c0-12.167,0-48.5,0-48.5s101.833,0,136.5,0c33.583,0,136.5,0,136.5,0s0,35.917,0,48.5C286.5,73.167,286.5,113,286.5,113z"/>
                </svg>
                <span class="button__text"> asdf</span>
            </span>
        </button>
        <button onclick="(isDatasetTraining)? calculateTest() : againTrain()" class="button button--line button--effect-1" style="margin-top: 0">
            <span class="morph-shape" data-morph-active="M286,113c0,0-68.8,6-136,6c-78.2,0-137-6-137-6S6,97.198,6,62.5C6,33.999,13,12,13,12s59-7,137-7c85,0,136,7,136,7s8,17.598,8,52C294,96.398,286,113,286,113z">
                <svg width="100%" height="100%" viewBox="0 0 300 125" preserveAspectRatio="none">
                    <path d="M286.5,113c0,0-104,0-136.5,0c-35.75,0-136.5,0-136.5,0s0-39.417,0-52.5c0-12.167,0-48.5,0-48.5s101.833,0,136.5,0c33.583,0,136.5,0,136.5,0s0,35.917,0,48.5C286.5,73.167,286.5,113,286.5,113z"/>
                </svg>
            </span>
            <span class="button__text">Modeli Test Et</span>
        </button>
    </div>

    <script src="../js/slider.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/button.js"></script>

</body>

</html>