<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="../js/snap.svg-min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/gameOfThrones.css">
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Cormorant+Unicase&subset=latin,latin-ext" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<svg id = "section1"></svg>

<section id="section07" class="demo">
  <a href="#section2"><span></span><span></span><span></span>Scroll</a>
</section>
<script src="../js/liquidFillGauge.js"></script>
<script src="../js/gameOfThrones.js"></script>
</body>
</html>