<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Karar Ağacı</title>
</head>

<body>
    <div class="content" align="center">
        <h1>Decision Tree Visualizer</h1>

        <div style="margin-left: auto; margin-right: auto; width: 40em; font-family: Arial; text-align: center" >
            We are a group of undergraduate students working on a research project. The main goal of the project is to design and develop visual techniques to explain a small set of popular ML algorithms.
            <br>Our first stop is Decision Trees apparently.
            <br> Datasets used in the tree:
            <a href="https://archive.ics.uci.edu/ml/datasets/lenses"> Lenses</a>
            <a> - </a>
            <a href="https://archive.ics.uci.edu/ml/datasets/mushroom"> Mushrooms</a>
        </div>
        {{ script|safe }}
    </div>
</body>
</html>