<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="../js/snap.svg-min.js"></script>
    <script src="../js/d3-simple-slider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/karpuzkavun.css">
    <link rel="stylesheet" type="text/css" href="../css/scroll.css">
    <title>Karpuz Kavun</title>
</head>
<body>

    <section class="demo">
      <a id="scroll1" style="color: black;" href="#section2"><span></span><span></span><span></span>Kaydırın</a>
    </section>

    <section class="demo">
      <a id="scroll2" style="color: black;" href="#section3"><span></span><span></span><span></span>Kaydırın</a>
    </section>

    <script src="../js/karpuzkavun.js"></script>
    <script src="../js/slider.js"></script>
</body>

</html>