<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script>const d3_v4 = d3;</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/css/neural.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Cormorant+Unicase&subset=latin,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../static/css/style.css"> <!-- Resource style -->
	<script src="../static/js/modernizr.js"></script> <!-- Modernizr -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Yapay Sinir Ağları</title>
    <style>
    </style>
    <script type="text/javascript" src="http://iop.io/js/vendor/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://iop.io/js/vendor/polymer/PointerEvents/pointerevents.js"></script>
    <script type="text/javascript" src="http://iop.io/js/vendor/polymer/PointerGestures/pointergestures.js"></script>
    <script type="text/javascript" src="http://iop.io/js/iopctrl.js"></script>
</head>
<body data-hijacking="off" data-animation="rotate">

    <section id = "section0_parent" class="cd-section visible">
		<div>
            <!-- Navbar -->
            <div class="w3-top" style="position: absolute;">
              <div class="w3-bar w3-red w3-card w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="main.html" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Ana Sayfa</a>
                <a href="karpuzkavun.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Karar Ağacı</a>
                <a href="kmeans.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">K-Means</a>
                <a href="neural.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Yapay Sinir Ağları</a>
                <a href="about.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" style="background-color: orange;">Hakkında</a>
              </div>

              <!-- Navbar on small screens -->
              <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
                <a href="karpuzkavun.html" class="w3-bar-item w3-button w3-padding-large">Karar Ağacı</a>
                <a href="kmeans.html" class="w3-bar-item w3-button w3-padding-large">K-Means</a>
                <a href="neural.html" class="w3-bar-item w3-button w3-padding-large">Yapay Sinir Ağları</a>
                <a href="about.html" class="w3-bar-item w3-button w3-padding-large" style="background-color: orange">Hakkında</a>
              </div>
            </div>
    	    <svg id="section0"></svg>
	    </div>
	</section>
    <section id = "section1_parent" class="cd-section visible">
		<div>
    	    <svg id="section1"></svg>
	    </div>
	</section>

    <nav>
    <ul class="cd-vertical-nav" style="right: 5px;">
        <li><a href="#0" class="cd-prev inactive">Next</a></li>
        <li><a href="#0" class="cd-next">Prev</a></li>
    </ul>
	</nav> <!-- .cd-vertical-nav -->
    <script src="../static/js/jquery-2.1.4.js"></script>
    <script src="../static/js/velocity.min.js"></script>
    <script src="../static/js/velocity.ui.min.js"></script>
    <script src="../static/js/main.js"></script> <!-- Resource jQuery -->
<script>
    const combinations = [{0: ["Kedi", "Köpek", "Köpek", "Kedi"],
                            1: ["Köpek", "Köpek", "Köpek", "Köpek"],
                            2: ["Köpek", "Kedi", "Köpek", "Kedi"],
                            3: ["Kedi", "Kedi", "Kedi", "Kedi"]},
                            {0: ["Köpek", "Kedi", "Köpek", "Kedi"],
                            1: ["Kedi", "Kedi", "Kedi", "Köpek"],
                            2: ["Köpek", "Kedi", "Köpek", "Kedi"],
                            3: ["Kedi", "Köpek", "Kedi", "Köpek"]},
                            {0: ["Kedi", "Köpek", "Köpek", "Kedi"],
                            1: ["Kedi", "Köpek", "Kedi", "Köpek"],
                            2: ["Kedi", "Kedi", "Köpek", "Köpek"],
                            3: ["Köpek", "Kedi", "Köpek", "Kedi"]},
                            {0: ["Kedi", "Kedi", "Kedi", "Kedi"],
                            1: ["Kedi", "Köpek", "Kedi", "Köpek"],
                            2: ["Köpek", "Kedi", "Köpek", "Köpek"],
                            3: ["Köpek", "Köpek", "Kedi", "Kedi"]}];
    const svgSection0 = d3_v4.select("#section0")
                    .attr("width", innerWidth)
                    .attr("height", innerHeight)
                    .style("background-color", "orange");
    const svgSection1 = d3_v4.select("#section1")
                    .attr("width", innerWidth)
                    .attr("height", innerHeight);
    let indexOfFirstKnob = 0;
    let indexOfSecondKnob = 0;
    // Drawing knob
    function drawKnob(g, r) {
        g.append("image")
                .attr("x", -r)
                .attr("y", -r)
                .attr("width", 2 * r)
                .attr("height", 2 * r)
                .attr("xlink:href", "http://iop.io/demo/iopctrl/knob.png")
    }

    const vol = iopctrl.arcslider()
                .radius(50)
                .indicator(drawKnob)
                .ease("cubic-in");
    vol.axis().orient("out")
            .normalize(true)
            .tickSize(10)
            .scale(d3.scale.ordinal()
                    .domain(["1", "2", "3", "4"])
                    .rangeBands([-Math.PI/2,  Math.PI/2]));

    svgSection1.append("g")
        .attr("class", "knob")
        .attr("transform", "scale(0.5)")
        .attr("transform", "translate(300, 0)")
        .call(vol);

    vol.onValueChanged(function(value){
        indexOfFirstKnob = +value - 1;
        const combination = combinations[indexOfFirstKnob][indexOfSecondKnob];
        for(let i = 0; i <= animalIndex; i++){
            decisionText[i].text = combination[i];
        }
        svgSection1.selectAll("text.decision")
            .text((d) => {return d.text});
    });

    //Second knob drawn
    const vol_2 = iopctrl.arcslider()
                    .radius(50)
                    .indicator(drawKnob)
                    .ease("cubic-in");
    vol_2.axis().orient("out")
            .normalize(true)
            .tickSize(10)
            .scale(d3.scale.ordinal()
                    .domain(["1", "2", "3", "4"])
                    .rangeBands([-Math.PI/2, Math.PI/2]));
    vol_2.onValueChanged(function(value){
            indexOfSecondKnob = +value - 1;
            const combination = combinations[indexOfFirstKnob][indexOfSecondKnob];
            for(let i = 0; i <= animalIndex; i++){
                decisionText[i].text = combination[i];
            }
            svgSection1.selectAll("text.decision")
                .text((d) => {return d.text});
        });
    svgSection1.append("g")
        .attr("class", "knob")
        .attr("transform", "scale(0.5)")
        .attr("transform", "translate(300, 200)")
        .call(vol_2);

    // Drawing Knob finished
    const imageWidth = 150;
    const imageHeight = 150;
    const animalX = 100;
    const animalY = 230;
    const initTextX = 600;
    const initTextY = 240 + imageHeight / 2;
    const decisions = ["Kedi", "Köpek"];
    const imagePos = [{x: animalX, y: animalY, text: "Arı", image: 'cat_1.png'},
                        {x: 0, y: 0, text: "Aslan", image: 'dog_1.png'},
                        {x: -300, y: 0, text: "Arı", image: 'cat_2.png'},
                        {x: -300, y: 0, text: "Aslan", image: 'dog_2.png'}];
    const decisionText = [{x: initTextX, y: initTextY, text: decisions[0]}];
    const trainButton = svgSection1.append("rect")
                            .attr("class", "button")
                            .attr("x", 700)
                            .attr("y", 220)
                            .attr("width", 140)
                            .attr("height", 50)
                            .attr("fill", "orange");
    let animalIndex = 0;
    trainButton.on('click', () => {
        //Image positions set
        for(let i = imagePos.length - 2; i >= animalIndex; i--) {
            imagePos[i + 1].x = imagePos[i].x;
            imagePos[i + 1].y = imagePos[i].y;
        }
        imagePos[animalIndex].x = 300 * animalIndex + 120;
        imagePos[animalIndex].y = 500;
        svgSection1.selectAll("image.animal")
            .data(imagePos)
            .transition()
            .attr("x", (d) => {return d.x})
            .attr("y", (d) => {return d.y});

        //Texts set
        decisionText[decisionText.length - 1].x = 300 * animalIndex + 160;
        decisionText[decisionText.length - 1].y = 490;
        decisionText.push({x: initTextX, y: initTextY, text: decisions[0]});
        const texts = svgSection1.selectAll("text.decision")
            .data(decisionText)
            .enter()
            .append("text")
            .attr("class", "decision")
            .attr("text-anchor", "middle")
            .attr("alignment-baseline", "middle")
            .attr("font-size", "30")
            .text((d) => {return d.text});
        svgSection1.selectAll("text.decision")
            .attr("x", (d) => {return d.x})
            .attr("y", (d) => {return d.y});
        animalIndex++;

        const combination = combinations[indexOfFirstKnob][indexOfSecondKnob];
        for(let i = 0; i <= animalIndex; i++){
            decisionText[i].text = combination[i];
        }
        svgSection1.selectAll("text.decision")
            .text((d) => {return d.text})
    });
    // Layout
    svgSection1.selectAll("image.animal")
        .data(imagePos)
        .enter()
            .append("svg:image")
            .attr("class", "animal")
            .attr("x", (d) => {return d.x})
            .attr("y", (d) => {return d.y})
            .attr("width", imageWidth)
            .attr("height", imageHeight)
            .attr("xlink:href", (d) => {return "../static/icons/" + d.image});

    //Texts laid out
    svgSection1.selectAll("text.decision")
        .data(decisionText)
        .enter()
            .append("text")
            .attr("class", "decision")
            .attr("text-anchor", "middle")
            .attr("alignment-baseline", "middle")
            .attr("font-size", "30")
            .attr("x", (d) => {return d.x})
            .attr("y", (d) => {return d.y})
            .text((d) => {return d.text});
</script>
</body>
</html>