<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=1100">
    <meta charset="utf-8">
    <script src="/ev/scripts/d3.js" charset="utf-8"></script>
    <script src="/ev/scripts/angular.js" charset="utf-8"></script>
    <script src="/ev/scripts/common.js" charset="utf-8"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:100,200,300,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/ev/styles/style.css" type="text/css">
    <meta property="og:site_name" content="Explained Visually">
    <title>Decision Trees explained visually</title>
  </head>
  <body ng-app="myApp" ng-controller="MainCtrl">
    <section class="menu"><a href="/ev/">Back</a></section>
    <section class="title">
      <div class="title-region">
        <h1 class="title">Principal Component Analysis</h1>
        <h3 class="by-line">Explained Visually</h3>
      </div>
      <div class="share"><a href="https://twitter.com/share" data-via="setosaio" class="twitter-share-button">Tweet</a>
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsetosa.io%2Fev%2Fprincipal-component-analysis%2F&amp;width=150&amp;height=24&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height: 20px; width: 150px" allowTransparency="true" class="fb-iframe"></iframe>
        <script type="text/javascript">
          !function(d,s,id) {
            var js
              , fjs = d.getElementsByTagName(s)[0]
              , p = /^http:/.test(d.location) ? 'http' : 'https';
            if(!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + '://platform.twitter.com/widgets.js';
              fjs.parentNode.insertBefore(js,fjs);
            }
          }(document, 'script', 'twitter-wjs');

        </script>
      </div>
      <p>By <a href="http://twitter.com/vicapow">Victor Powell</a>
      </p>
      <p>with text by <a href="http://twitter.com/lewislehe">Lewis Lehe</a>
      </p>
      <p>Principal component analysis (PCA) is a technique used to emphasize variation and bring out strong patterns in a dataset.  It's often used to make data easy to explore and visualize.</p>
      <h1>2D example</h1>
      <p>First, consider a dataset in only two dimensions, like (height, weight). This dataset can be plotted as points in a plane. But if we want to tease out variation, PCA finds a new coordinate system in which every point has a new (x,y) value. The axes don't actually mean anything physical; they're combinations of height and weight called "principal components" that are chosen to give one axes lots of variation.</p>
      <p>Drag the points around in the following visualization to see PC coordinate system adjusts.</p>
      <div style="text-align: center; width: 100%">
        <pca-d2></pca-d2>
      </div>
      <div style="text-align: center; width: 100%">
        <div style="width: 50%; float: left;padding: 0px 20px 0 20px; text-align: left"><p>PCA is useful for eliminating dimensions. Below, we&#39;ve plotted the data along a pair of lines: one composed of the x-values and another of the y-values.</p>

        </div>
        <div style="width: 50%; float: left;padding: 0px 20px 0 20px;text-align: left">
          <p>If we're going to only see the data along one dimension, though, it might be better to make that dimension the principal component with most variation. We don't lose much by dropping <span style="color:#2ecc71">PC2 </span>since it contributes the least to the variation in the data set.</p>
        </div>
        <pca-d1></pca-d1>
      </div>
    </section>
    <section>
      <h1>3D example</h1>
      <P>With three dimensions, PCA is more useful, because it's hard to see through a cloud of data. In the example below, the original data are plotted in 3D, but you can project the data into 2D through a transformation no different than finding a camera angle: rotate the axes to find the best angle. To see the "official" PCA transformation, click the "Show PCA" button. The PCA transformation ensures that the horizontal axis PC1 has the most variation, the vertical axis PC2 the second-most, and a third axis PC3 the least. Obviously, PC3 is the one we drop.</P>
      <pca-three-plot rot="rotXY"></pca-three-plot>
      <div style="text-align: center">
        <button ng-click="showPCAThree()" class="btn">show PCA</button>
        <button ng-click="resetPCAThree()" class="btn">reset</button>
      </div>
    </section>
    <section>
      <h1>Eating in the UK (a 17D example)</h1>
      <div style="text-align: left; width: 40%; display: block; float: left; clear: both"><small>Original example from Mark Richardson's class notes <a href="http://people.maths.ox.ac.uk/richardsonm/SignalProcPCA.pdf">Principal Component Analysis</a></small>
        <p>What if our data have way more than 3-dimensions? Like, <b>17</b> dimensions?! In the table is the average consumption of 17 types of food in grams per person per week for every country in the UK. </p>
        <p>The table shows some interesting variations across different food types, but overall differences aren't so notable. Let's see if PCA can eliminate dimensions to emphasize how countries differ.</p>
      </div>
      <div style="text-align: center; width: 60%; display: block; float: left">
        <defra-table></defra-table>
      </div>
      <div style="clear:both"></div>
      <p>Here's the plot of the data along the first principal component. Already we can see something is different about Northern Ireland.</p>
      <div style="text-align: center; width: 100%; display: block;">
        <defra-d1></defra-d1>
      </div>
      <p>Now, see the first and second principal components, we see Northern Ireland a major outlier. Once we go back and look at the data in the table, this makes sense: the Northern Irish eat way more grams of fresh potatoes and way fewer of fresh fruits, cheese, fish and alcoholic drinks. It's a good sign that structure we've visualized reflects a big fact of real-world geography: Northern Ireland is the only of the four countries not on the island of Great Britain. (If you're confused about the differences among England, the UK and Great Britain, see: <a href="https://www.youtube.com/watch?v=rNu8XDBSn10">this video</a>.)</p><br><br>
      <div style="text-align: center; width: 100%; display: block;">
        <defra-d2></defra-d2>
      </div><br><br>
    </section>
    <section>
      <p>For more explanations, visit the Explained Visually <a href="/ev/">project homepage.</a></p>
      <p>Or subscribe to our mailing list.</p>
      <div>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//setosa.us9.list-manage.com/subscribe/post?u=060f38736e386cb5f4a41ac34&amp;id=ca34aa93b7"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
            class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" value placeholder="Email address">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_060f38736e386cb5f4a41ac34_ca34aa93b7"
                  tabindex="-1" value="">
              </div>
              <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe"
                  id="mc-embedded-subscribe" class="button btn btn-primary">
              </div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->

      </div><br/>
    </section>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-11200159-16', 'setosa.io');
      ga('send', 'pageview');
    </script>
    <section>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'explainedvisually'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </section>
  </body>
  <script type="x-shader/x-vertex" id="vertexshader">
    // attribute vec3 color;
    uniform float pointSize;
    uniform vec3 color;
    uniform float alpha;
    uniform int shouldResize;
    varying vec4 vColor;
    void main() {
      vec4 mvPosition = modelViewMatrix * vec4(position, 1.0);
      if (shouldResize == 1) {
        gl_PointSize = pointSize * ( mvPosition.z + 30.0) / 10.0 + 10.0;
        // gl_PointSize = pointSize;
      } else {
        gl_PointSize = pointSize;
      }
      gl_Position = projectionMatrix * mvPosition;
      if (shouldResize == 1) {
        vColor = vec4(color, ( mvPosition.z + 30.0) / 10.0 + 0.0);
        // vColor = vec4(color, 0.8);
      } else {
        vColor = vec4(color, alpha);
      }
    }

  </script>
  <script type="x-shader/x-fragment" id="fragmentshader">
    varying vec4 vColor;
    void main() {
      float f = 0.5;
      // vec2 pos = mod(gl_FragCoord.xy, vec2(50.0)) - vec2(25.0);
      float d = abs(distance(gl_PointCoord - f, vec2(0.0, 0.0) ) );
      if(d < f) {
        gl_FragColor = vColor;
      } else {
        discard;
      }
    }


  </script>
  <script src="/ev/scripts/three.js" charset="utf-8"></script>
  <script src="/ev/scripts/OrthographicTrackballControls.js" charset="utf-8"></script>
  <script src="/ev/scripts/numeric.js" charset="utf-8"></script>
  <script src="/ev/principal-component-analysis/script.js"></script>
</html>