@font-face {
    font-family: "San Fransisco";
    src: url(../css/sf.otf) format("truetype");
}
@font-face {
    font-family: "San Fransisco Bold";
    src: url(../css/sf_bold.otf) format("truetype");
}
.blur{
    -webkit-filter: blur(8px); /* Chrome, Safari, Opera */
    filter: blur(8px);
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif
}
.w3-bar, h1, button {
    font-family: "Montserrat", sans-serif
}
.fa-anchor,.fa-coffee {
    font-size200:px
}