.knob .cursor {
    fill: silver;
}
.knob .tick {
    fill: silver;
    font-size: 14px;
    font-weight: bold;
}
.knob .major line {
    stroke: silver;
    stroke-width: 2px;
}
body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif
}
.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif
}
.fa-anchor,.fa-coffee {
    font-size:200px
}